body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://image.flaticon.com/icons/png/512/201/201635.png");
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: blue;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.logo {
    width: 250px;
    height: 130px;
    margin-top: 15px;     
    margin: auto;  
    display: flex;    
}

.circulo-azul {
    border-radius: 50%;
    width: 120px;
    height:120px; 
    position: absolute;
    margin-left: 50px;            
}

.papel {
    border-radius: 8px;
    height: 80px;
    width: 60px;
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;      
}

.letra {
    position: absolute;      
    color: gold;      
    width: 200px;
    height: 90px;
    margin-top: 20px;
    font-family:cursive ;
    font-size: 20px;  
}

h2 {
  color:#ffffff;
}

.container-main {
  width: 280px;
  height: 150px;
  margin: auto;
}

.container-main input {
  height: 30px;
  font-size: 15px;
  background: #ffffff;
}

.container-main button {
  margin-top: 12px;
  height: 30px;
  border-radius: 8px;
  background: chocolate;
  color: #000000;
  font-size: 18px;
}
